html, body{
  height: 100%;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  text-align: center;
}

h1{
  color: whitesmoke;
}

h2{
  /* font: ITC Avant Garde Gothic Std; */
}

.form-container{
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

Button{
  width: 300px;
  height: 48px;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

Button.loginButton{
  margin: 2rem;
  background-image: url("./assets/loginB.svg");
}

Button.registerButton{
  margin: 1rem;
  background-image: url("./assets/registerB.svg");
}

Button:hover{
  transform: translateY(-7px);
}

.navbar{
  width:min-content;
}