body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "TitleFont";
  src: url("./utils/fonts/TeXGyreAdventor-Bold.eot");
  src: url("./utils/fonts/TeXGyreAdventor-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./utils/fonts/TeXGyreAdventor-Bold.svg#TeXGyreAdventor-Bold") format("svg"),
    url("./utils/fonts/TeXGyreAdventor-Bold.ttf") format("truetype"),
    url("./utils/fonts/TeXGyreAdventor-Bold.svg") format("woff"),
    url("./utils/fonts/TeXGyreAdventor-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "TitleFont";
}
